html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}